@import '../style/custom.scss';

.footer {
  background-color: $navbar-dark-color;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
